:root {
  --scotion-padding: 100px;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

html {
  scroll-behavior: smooth;
  font-family: "Work Sans", sans-serif;
}

body {
  background-color: rgba(0, 1, 51, 0.911);
}

/*................. container///.............*/
.contaner {
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}

@media (min-width: 767px) {
  .contaner {
    width: 750px;
  }

  .landing .text p {
    color: #333;
    font-size: 15px;
    font-weight: 400;
  }
}

@media (min-width: 992px) {
  .contaner {
    width: 975px;
  }
}

@media (min-width: 1200px) {
  .contaner {
    width: 1100px;
  }
}

html {
  scroll-behavior: smooth;
}

/*............ main heading/............... */
.main-heading {
  text-align: center;

}

.main-heading h2 {
  color: white;
  font-size: 40px;
  font-weight: bold;
  position: relative;
  margin-bottom: 70px;
  text-transform: uppercase;
}

.main-heading h2::before {
  content: "";
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  width: 120px;
  height: 2px;
  background-color: white;
  bottom: -30px;


}

.main-heading h2::after {
  content: "";
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  width: 14px;
  height: 14px;
  border: 2px solid black;
  border-radius: 50%;
  background-color: white;
  bottom: -38px;


}

.main-heading p {
  width: 550px;
  margin: 0 auto 100px;
  line-height: 2;
  color: aliceblue;
  max-width: 95%;

}





/*.......... start header ................. */

header {
  position: absolute;
  left: 0;
  width: 100%;
  z-index: 2;
}

header .contaner {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 87px;
}

header .contaner::after {
  content: "";
  position: absolute;
  height: 1px;
  background-color: white;
  bottom: 0;
  width: calc(100% - 30px);
  left: 15px;
}


header .contaner .logo i {
  font-size: 40px;
  color: white;
  display: flex;
  align-items: center;
  color: deeppink;
}

.landing .contant h2 span {
  color: deeppink;
}

header .contaner .logo i span {
  font-size: 22px;
  color: white;

}

header .contaner nav {
  flex: 1;
  display: flex;
  
  justify-content: end;
  align-items: center;

}

header .contaner nav ul{
  display: flex;
}


header .contaner nav ul li a {
  padding: 12px 18px;
  margin: 0 7px;
  color: aliceblue;
  font-size: 18px;
  display: block;
  position: relative;
  z-index: 5;
  transition: 0.5s;
  font-weight: bolder;
  border: 1px solid palevioletred;
  border-radius: 8px;
}

header .contaner nav ul li a:hover {
  color: black;
  background-color:snow;
  font-weight: bolder;
}


/*................... landing/// .............*/
.landing {
  min-height: 100vh;
  position: relative;
  background-image: url(uniy\ 1.jpg);
  background-size: cover;
 
  background-position: center;

}

.landing .ovrlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.404);

}

.landing .contant {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-40%);
  color: white;
  width: 50%;
  margin: 0 auto;
  border-left: 4px solid white;
  border-right: 4px solid white;
  padding-right: 30px 0;
}

.landing .contant h2 {
  font-size: 40px;
  letter-spacing: 1;
  text-align: center;
  width: 100%;
}

.landing .contant p {
  margin-top: 20px;
  font-size: 18px;
  font-weight: bold;
  text-align: center;

}

@media (max-width: 767px) {

  .landing .contant {
    width: 95%;
    transform: translateX(-50%);

  }

  .landing .contant h2 {
    font-size: 20px;
    letter-spacing: 2;
  }

  .landing .contant p {
    font-size: 15px;
    margin-top: 15px;
  }
}


/* .....................Subjects.............. */
.Subjects {
  padding-top: var(--scotion-padding);
  padding-bottom: var(--scotion-padding);
  background-color: rgba(11, 26, 54, 0.911);
}

.Subjects .box-serv {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 40px;
}

.Subjects .box-serv .box {
  border: 2px solid pink;
  border-radius: 30px;
  box-shadow: 3px 3px 10px rgba(187, 181, 115, 0.658);
}

.Subjects .box-serv .box .text {
  text-align: center;
  padding: 10px 5px;


}

.Subjects .box-serv .box .text h4 {
  color: white;
  font-size: 22px;
  font-weight: bold;
  margin: 5px 0;


}

.Subjects .box-serv .box .text button {

  margin: 15px 0;
  background-color: transparent;
  border: 3px solid pink;
  padding: 10px 20px;
  border-radius: 10px;
  transition: 0.7s;

}

.Subjects .box-serv .box .text button a {
  color: rgb(255, 80, 138);
  font-weight: bold;
  padding: 10px;
}

.Subjects .box-serv .box .text button:hover {
  color: white;
  background-color: deeppink;

}

.Subjects .box-serv .box .text button:hover a {
  color: white;
  font-weight: bold;
}

.Subjects .box-serv .box img {
  max-width: 100%;

}

/* <!-- .........start video ................... --> */
.video {
  text-align: center;
  position: relative;
  background-color: rgba(11, 26, 54, 0.911);
}

.video::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.233);

}

.video .text {
  width: 100%;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  padding: 50px;
  background-color: rgba(255, 16, 164, 0.356);
  color: white;
  font-weight: bold;
  text-align: center;
  font-size: larger;


}

.video .text p {
  margin: 15px 0;
}

/*//////////////////// start search /////////////////// */

.search {
  position: relative;
  padding-top: var(--scotion-padding);

  text-align: center;
  background-color: rgba(11, 26, 54, 0.911);
}

.search img {
  width: 750px;
  border-radius: 15px;
  max-width: 100%;


}

.search .text {

  width: 100%;
  position: absolute;
  top: 85%;
  transform: translateY(-50%);
  padding: 50px;
  background-color: rgba(11, 26, 54, 0.712);
  color: white;
  font-weight: bold;
  text-align: center;
  font-size: larger;

}

.search .text h3 {
  font-size: 30px;
}

.search .text p {
  margin-top: 20px;
  margin-bottom: 20px;
  font-weight: 700;
  font-size: 22px;
  color: pink;
}

.search .text button {
  margin-top: 20px;
  background-color: transparent;
  border: 3px solid palevioletred;
  padding: 10px 20px;
  border-radius: 10px;
  transition: 0.6s;


}

.search .text button a {
  color: white;
  font-weight: bold;
  width: 100%;
  font-size: 20px;
}

.search .text button:hover {
  background-color: crimson;
}

.search .text button a:hover {

  color: black;
  font-weight: bolder;
}

@media (max-width: 767px) {
  .search .text {
    padding: 30px;
  }

  .search .text p {
    margin-top: 10px;
    margin-bottom: 10px;
    font-weight: 700;
    font-size: 18px;
    color: deeppink;
  }

  search .text h3 {
    font-size: 20px;
    margin-top: 0;
  }
}



/*//////////////////// end search /////////////////// */
/*//////////////////// srart pic /////////////////// */
.pic-box {
  background-color: rgba(11, 26, 54, 0.911);
  padding: 25px 0;
  margin-top: 30px;

}

.pic-box .contaner {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 30px;

}

.pic-box .contaner .box img {
  width: 100%;
  border-radius: 10px;
  transition: 0.6s;

}

.pic-box .contaner .box {
  text-align: center;
  box-shadow: 0 0 10px gainsboro;
  color: white;
  border-radius: 10px;
  padding: 0 0 20px 0;
  background-color: rgb(0 0 0 / 48%);


}

.pic-box .contaner .box:hover img {
  width: 95%;
  border-radius: 30%;
}



.pic-box .contaner .box h3 {
  margin: 15px auto;
  border-bottom: 1px solid plum;
  width: fit-content;
  color: white;
}

.pic-box .contaner .box p {
  width: 90%;
  text-align: center;
  margin: 10px auto;
  font-weight: bold;
  color: pink;
}


/*//////////////////// end pic/////////////////// */


/*///////////////////////aboutme//////////// */

.abuotme {
  margin-top: 20px;
  background-color: rgba(8, 8, 36, 0.726);
  padding: 20px 0;
  position: relative;
}

.abuotme .contaner {
  display: flex;



}

.abuotme .contaner .text {
  text-align: center;
  color: snow;
  line-height: 1.5;
  font-size: 20px;
  font-weight: normal;
  padding: 100px 150px 30px 150px;
  position: relative;
  z-index: 3;
  border: 1px solid white;
  border-radius: 30px;
}

.abuotme .contaner .img img {
  width: 400px;
  border-radius: 15px;


}

@media (max-width: 767px) {
  .abuotme .contaner {
    display: flex;
    flex-wrap: wrap;


  }

  .abuotme .contaner .text {
    line-height: 1.7;
    font-size: 15px;
    font-weight: bold;
    padding: 15px 20px;
    margin-bottom: 15px;



  }

  .abuotme .contaner .img {
    text-align: center;

  }

  .abuotme .contaner .img img {
    border-radius: 10px;
    max-width: 100%;


  }

  .main-heading p {

    margin: 0 auto 30px;


  }
}


.abuotme .cover {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.644);


}

/*///////////////////////aboutme//////////// */

/*///////////////////////start footer //////////// */

.footer {
  background-color: palevioletred;
  margin-top: 40px;
  padding: 20px;
  text-align: center;
  border-radius: 150px 150px 0 0;

}


.footer .img-h2 img {
  width: 150px;
}

.footer .img-h2 h2 {
  font-size: 30px;
  font-weight: bolder;
  margin: 20px 0;
  color: white;

}

.footer a {
  display: inline-block;
  margin: 15px 10px;
  transition: 0.6s;
}

.footer a img {
  width: 30px;
  transition: 0.6s;

}

.footer a img:hover {
  width: 35px;
}

.footer p {
  font-size: 20px;
  font-weight: bolder;
  color: rgb(0, 39, 73);
  margin-top: 10px;

}

@media (max-width: 767px) {
  .footer p {
    font-size: 12px;
  }
  .footer {
   
    border-radius: 50px 50px 0 0;
  
  }
  .main-heading h2 {
    color: white;
    font-size: 30px;
    font-weight: bold;
    position: relative;
    margin-bottom: 50px;
    text-transform: uppercase;
  }
  .main-heading p {
    width: 85%px;
    margin: 0 auto 100px;
    line-height: 2;
    color: aliceblue;
    max-width: 95%;
  
  }
  header .contaner nav ul li a {
    padding: 7px 10px;
    display: inline-block;
    
    color: aliceblue;
    font-size: 13px;
    display: block;
    position: relative;
    
    transition: 0.5s;
    font-weight: bold;
    border: 1px solid palevioletred;
    border-radius: 5px;

  }
  
  
  header .contaner .logo i {
    font-size: 30px;
    color: white;
    display: flex;
    align-items: center;
    color: deeppink;
  }
  
  .landing .contant h2 span {
    color: deeppink;
  }
  
  header .contaner .logo i span {
    font-size: 12px;
    color: white;
  
  }
  header .contaner::after {
    content: "";
    position: absolute;
    height: 3px;
    background-color: white;
    bottom: 0;
    width: calc(100% - 30px);
    left: 15px;
  }
  header .contaner nav ul .lia-mm{
    display: none;
  }
}

.footer p span {
  color: white;
}

/*///////////////////////end footer//////////// */